.footer {
    font-size: 1.4rem;
    letter-spacing: 3px;
    padding-top: 1rem;
    font-family: Lato, sans-serif;
    margin: 0 auto;
    // background-color: green;

    @media (max-width: 900px) {
        font-size: 1rem;
    }

    & a {
        color: #ff8c00;
        text-decoration: none;
    }
}