.header {
    position: relative;
    display: grid;
    padding-top: 2rem;
    grid-template-rows: 2rem auto;
    //background-color: darkslateblue;
    
    // background-image: linear-gradient(
    //     rgba(40, 40, 40, 0.8),
    //     rgba(40, 40, 40, 0.8)), 
    //     url(./assets/images/foto-header.jpg);
    //background-size: cover;
    //background-position-y: top;
    
    &::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-image: url(./assets/images/foto-header.jpg);
        background-size: cover;
        filter: grayscale(100%) brightness(.4);
        

    }

    &__title {
        position: relative;
        font-family: 'Great Vibes', cursive;
        font-size: 10rem;
        justify-self: center;
    }

    &__subtitle {
        position: relative;
        padding-top: 1.5rem;
        float: auto;
        width: 80%;
        text-align: center;
        font-family: Lato, sans-serif;
        font-size: 2.8rem;
        font-weight: 400;
        justify-self: center;
        font-stretch: semi-expanded;

        & span {
            display: table;
            margin: 0 auto;
            font-size: 3.5rem;
            font-weight: 300;
            margin-top: .6rem;
            font-stretch: expanded;
            color: #ffaf4d;
        }
    }
}