.home {
    background-color: #222;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 1rem;
    position: relative;

    @media (max-width: 900px) {
        grid-gap: 0;
       }

    @media (max-width: 600px) {
        grid-template-columns: repeat(1, 1fr);
    }
    
    // grid-template: 
    //     'pic1 pic1 txt1 txt1'
    //     'pic1 pic1 txt1 txt1'
    //     'pic1 pic1 txt1 txt1'
    //     'pic1 pic1 txt1 txt1'
    //     'txt2 txt2 pic2 pic2'
    //     'txt2 txt2 pic2 pic2'
    //     'txt2 txt2 pic2 pic2'
    //     'pic3 pic3 txt3 txt3'
    //     'pic3 pic3 txt3 txt3'
    //     'pic3 pic3 txt3 txt3'
    // ;

    &__pic {
        display: relative;
        justify-self: center;
        align-self: center;
        max-width: 60rem;
        
        &--1,
        &--2,
        &--3 {
            width: 30vw;
            border-radius: .5rem;

            @media (max-width: 600px) {
                width: 600px;
            }
        }

        @media (max-width: 900px) {
            max-width: 40rem;
        }

        @media (max-width: 600px) {
            max-width: 100vw;
            
        }

        & img {
            @media(max-width: 600px) {
                opacity: 50%;
            }
        }
    }

    &__text {
        font-size: 2.5rem;
        font-family: Lato, sans-serif;
        font-weight: 300;
        letter-spacing: 1px;
        line-height: 1.5;
        justify-self: center;
        align-self: center;
        max-width: 80%;

        & span {
            color: #ffaf4d;
        }


        @media (max-width: 900px) {
           font-size: 1.8rem;
           max-width: 100%;
        }
        
        @media (max-width: 600px) {
            @media (max-width: 600px){
                position: absolute;
                left: 50%;
                transform: translateX(-50%);
    
                &--1{
                    font-size: 3rem;
                    width: 80%;
                    text-align: center;
                    top: 55rem;
                }
                &--2{
                    font-size: 3rem;
                    width: 80%;
                    text-align: center;
                    top: 136rem;
                }
                &--3{
                    font-size: 3rem;
                    width: 80%;
                    text-align: center;
                    top: 217rem;
                }
            }
        }
    }
}