*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box; }

html {
  font-size: 62.5%;
  width: 80%;
  margin: 0 auto;
  background-color: #222; }
  @media (max-width: 600px) {
    html {
      width: 60rem;
      -ms-overflow-style: none;
      scrollbar-width: none; } }
  html::-webkit-scrollbar {
    display: none; }

.about {
  font-size: 1.8rem;
  font-family: Lato, sans-serif;
  letter-spacing: 1px;
  line-height: 1.5;
  margin: 0 auto;
  background-color: #222; }

.app {
  display: grid;
  row-gap: 3rem;
  background-color: #222;
  color: #eee;
  justify-content: center;
  grid-template-rows: 3rem auto 5rem;
  height: 100vh; }

.footer {
  font-size: 1.4rem;
  letter-spacing: 3px;
  padding-top: 1rem;
  font-family: Lato, sans-serif;
  margin: 0 auto; }
  @media (max-width: 900px) {
    .footer {
      font-size: 1rem; } }
  @media (max-width: 600px) {
    .footer {
      padding-top: .2rem;
      font-size: 1.3rem; } }
  .footer a {
    color: #ff8c00;
    text-decoration: none; }

.header {
  position: relative;
  display: grid;
  padding-top: 2rem;
  grid-template: '.    .    logo .    text text text text text text .    .   ' '.    .    logo .    text text text text text text .    .   ' '.    club club club subt subt subt subt subt subt .    .   ';
  margin-bottom: 3rem; }
  @media (max-width: 900px) {
    .header {
      grid-template: '.   .    logo .    text text text text text text' '.   .    logo .    text text text text text text' '.   club club club subt subt subt subt subt subt'; } }
  .header::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%; }
  .header__logo {
    grid-area: logo;
    margin-top: 1rem;
    z-index: 10; }
    .header__logo img {
      width: 17rem; }
      @media (max-width: 900px) {
        .header__logo img {
          width: 12rem; } }
      @media (max-width: 900px) {
        .header__logo img {
          width: 10rem; } }
  .header__clubs {
    grid-area: club;
    z-index: 10;
    display: grid;
    grid-template-columns: 1fr 1fr; }
    .header__clubs--fci {
      width: 12rem; }
      @media (max-width: 900px) {
        .header__clubs--fci {
          width: 8rem; } }
    .header__clubs--enci {
      width: 14rem; }
      @media (max-width: 900px) {
        .header__clubs--enci {
          width: 9rem; } }
      @media (max-width: 900px) {
        .header__clubs--enci {
          width: 7rem; } }
  .header__title {
    grid-area: text;
    position: relative;
    font-family: 'Great Vibes', cursive;
    font-size: 6.9rem;
    justify-self: center;
    text-shadow: .1rem .1rem 1.5rem #e96710;
    margin-top: 20px; }
    @media (max-width: 900px) {
      .header__title {
        font-size: 4rem; } }
    @media (max-width: 600px) {
      .header__title {
        font-size: 6rem; } }
  .header__subtitle {
    grid-area: subt;
    position: relative;
    text-align: center;
    font-family: Lato, sans-serif;
    font-size: 2.4rem;
    font-weight: 400;
    justify-self: center;
    font-stretch: semi-expanded; }
    @media (max-width: 900px) {
      .header__subtitle {
        font-size: 2rem; } }
    .header__subtitle span {
      display: table;
      margin: 0 auto;
      font-size: 3.5rem;
      font-weight: 300;
      margin-top: .6rem;
      font-stretch: expanded;
      color: #ffaf4d; }
      @media (max-width: 900px) {
        .header__subtitle span {
          font-size: 2.8rem; } }

.home {
  background-color: #222;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 1rem;
  position: relative; }
  @media (max-width: 900px) {
    .home {
      grid-gap: 0; } }
  @media (max-width: 600px) {
    .home {
      grid-template-columns: repeat(1, 1fr); } }
  .home__pic {
    display: relative;
    justify-self: center;
    align-self: center;
    max-width: 60rem; }
    .home__pic--1, .home__pic--2, .home__pic--3 {
      width: 30vw;
      border-radius: .5rem; }
      @media (max-width: 600px) {
        .home__pic--1, .home__pic--2, .home__pic--3 {
          width: 600px; } }
    @media (max-width: 900px) {
      .home__pic {
        max-width: 40rem; } }
    @media (max-width: 600px) {
      .home__pic {
        max-width: 100vw; } }
    @media (max-width: 600px) {
      .home__pic img {
        opacity: 50%; } }
  .home__text {
    font-size: 2.5rem;
    font-family: Lato, sans-serif;
    font-weight: 300;
    letter-spacing: 1px;
    line-height: 1.5;
    justify-self: center;
    align-self: center;
    max-width: 80%; }
    .home__text span {
      color: #ffaf4d; }
    @media (max-width: 900px) {
      .home__text {
        font-size: 1.8rem;
        max-width: 100%; } }

@media (max-width: 600px) and (max-width: 600px) {
  .home__text {
    position: absolute;
    left: 50%;
    transform: translateX(-50%); }
    .home__text--1 {
      font-size: 3rem;
      width: 80%;
      text-align: center;
      top: 55rem; }
    .home__text--2 {
      font-size: 3rem;
      width: 80%;
      text-align: center;
      top: 136rem; }
    .home__text--3 {
      font-size: 3rem;
      width: 80%;
      text-align: center;
      top: 217rem; } }

.navbar {
  margin-top: 1.5rem;
  height: 2.5rem;
  font-size: 1.8rem;
  font-family: Lato, sans-serif;
  transform: translateY(-1rem); }
  .navbar__items {
    display: grid;
    grid-template-columns: 5rem auto 11rem 11rem 11rem 5rem;
    list-style: none; }
    .navbar__items li > * {
      text-decoration: none;
      letter-spacing: .2rem;
      color: #ccc; }
    .navbar__items--1 {
      font-family: Lato, sans;
      grid-column: 1;
      margin-left: 1rem; }
    .navbar__items--2 {
      grid-column: 3; }
    .navbar__items--3 {
      grid-column: 4; }
    .navbar__items--4 {
      grid-column: 5; }
    .navbar__items--5 {
      grid-column: 6;
      margin-top: .5rem;
      margin-right: .5rem; }
  .navbar__item {
    align-self: right;
    align-self: center;
    border-radius: .3rem;
    transition: all .5s;
    margin-right: .5rem; }
    .navbar__item:hover {
      cursor: pointer;
      text-shadow: .2rem .2rem .4rem  #ff8c00;
      transform: scale(1.2); }
