*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box; }

html {
  font-size: 62.5%;
  width: 80%;
  margin: 0 auto;
  background-color: #222; }

.aboutpage {
  font-size: 1.8rem;
  font-family: Lato, sans-serif;
  letter-spacing: 1px;
  line-height: 1.5;
  margin: 0 auto;
  background-color: #222; }

.app {
  display: grid;
  row-gap: 3rem;
  background-color: #222;
  color: #eee;
  justify-content: center;
  grid-template-rows: 3rem minmax(60rem, auto) 5rem;
  height: 100vh; }

.footer {
  font-size: 1.4rem;
  letter-spacing: 3px;
  padding-top: 1rem;
  font-family: Lato, sans-serif;
  margin: 0 auto; }
  .footer a {
    color: #ff8c00;
    text-decoration: none; }

.header {
  position: relative;
  display: grid;
  padding-top: 2rem;
  grid-template: '.    .    logo .    text text text text text text .    .   ' '.    .    logo .    text text text text text text .    .   ' '.    club club club subt subt subt subt subt subt .    .   ';
  margin-bottom: 3rem; }
  .header::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    filter: grayscale(100%) brightness(0.4); }
  .header__logo {
    grid-area: logo;
    margin-top: 1rem;
    z-index: 10; }
    .header__logo img {
      width: 20rem; }
  .header__clubs {
    grid-area: club;
    z-index: 10;
    display: grid;
    grid-template-columns: 1fr 1fr; }
    .header__clubs--fci {
      width: 12rem; }
    .header__clubs--enci {
      width: 12rem; }
  .header__title {
    grid-area: text;
    position: relative;
    font-family: 'Great Vibes', cursive;
    font-size: 6.9rem;
    justify-self: center;
    text-shadow: .1rem .1rem #e96710;
    margin-top: 20px; }
  .header__subtitle {
    grid-area: subt;
    position: relative;
    text-align: center;
    font-family: Lato, sans-serif;
    font-size: 2.4rem;
    font-weight: 400;
    justify-self: center;
    font-stretch: semi-expanded; }
    .header__subtitle span {
      display: table;
      margin: 0 auto;
      font-size: 3.5rem;
      font-weight: 300;
      margin-top: .6rem;
      font-stretch: expanded;
      color: #ffaf4d; }

.homepage {
  font-size: 1.8rem;
  font-family: Lato, sans-serif;
  letter-spacing: 1px;
  line-height: 1.5;
  margin: 0 auto;
  background-color: #222; }

.navbar {
  margin-top: 1.5rem;
  height: 2.5rem;
  font-size: 1.8rem;
  font-family: Lato, sans-serif;
  transform: translateY(-1rem); }
  .navbar__items {
    display: grid;
    grid-template-columns: 5rem auto 11rem 11rem 11rem 5rem;
    list-style: none; }
    .navbar__items li > * {
      text-decoration: none;
      color: #ccc; }
    .navbar__items--1 {
      font-family: 'Great Vibes', cursive;
      grid-column: 1;
      font-size: 3rem;
      text-shadow: .2rem .2rem .4rem  #ff8c00;
      margin-left: 1rem; }
    .navbar__items--2 {
      grid-column: 3; }
    .navbar__items--3 {
      grid-column: 4; }
    .navbar__items--4 {
      grid-column: 5; }
    .navbar__items--5 {
      grid-column: 6;
      margin-top: .5rem;
      margin-right: .5rem; }
  .navbar__item {
    align-self: right;
    align-self: center;
    border-radius: .3rem;
    transition: all .5s;
    margin-right: .5rem; }
    .navbar__item:hover {
      cursor: pointer;
      text-shadow: .2rem .2rem .4rem  #ff8c00;
      transform: scale(1.1); }
